---
const cookie = Astro.cookies.get("cancer_test").value;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>
			<a href="/api/auth1">Sign in w/o rewrite</a><br />
			<a href="/api/auth2">Sign in w/ rewrite api</a>
		</p>
		<p>{cookie ?? "no cookie"}</p>
	</body>
</html>
